html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 5px 100px;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.164);
    z-index: 900;
    transition: 0.5s;
    align-items: center;
}
nav img{
    height: 80px;
    float: left;
    /* margin: 0px 5px; */
    padding: 0;
    /* border: 3px solid red; */
}
nav ul{
    margin-left: auto !important;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.links{
    line-height: 60px;
    color: black;
    font-size: 140%;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 700;
}
.links:hover{
    color: #fb7218;
}
#home{
    background-size: cover;
    background-position: center center;
    background-color: #f5e3b8;
    padding-top: 100px;
    display: flex;
    height: 100vh;
    width: 100%;
}
#home h1{
    font-size: 500%;
}
#left{
    width: 50%;
    margin-left: 80px;
    /* border: 3px solid red; */
}
#right{
    height: 80vh;
    margin-left: auto;
    /* border: 3px solid red; */
}
#left a{
    text-decoration: none;
    color: black;            
    font-size: 170%;
}
#left button{
    margin-top: 3vh;
    margin-right: 3%;
        box-shadow: inset 0 0 0 0 white;
        transition: ease-out 0.4s;
        font-family: 'Montserrat', sans-serif;
        outline: none !important;
        border: 2px solid #fb7218;
        background-color: #fb7218;
        cursor: pointer;
        padding: 8px 8px !important;
}
#left button:hover{
    box-shadow: inset 0 50px 0 0 #fbbd4a;
}
@media screen and (max-width: 950px){
    #home h1{
        font-size: 400%;
    }
    #right{
        height: 60vh;
    }
}
@media screen and (max-width: 760px){
    #home h1{
        font-size: 320%;
    }
    #left a{
        font-size: 130%;
    }
    nav{
        padding: 5px 20px;
    }
    #right{
        height: 50vh;
    }

}
@media screen and (max-width: 665px){
    #left{
        margin-left: 25px;
    }
}
@media screen and (max-width: 630px){
    #home h1{
        font-size: 280%;
    }
    #left a{
        font-size: 100%;
    }
}
@media screen and (max-width: 500px){
    nav ul{
        display: none;
    }
    #home h1{
        font-size: 220%;
    }
    #right{
        height: 40vh;
    }
}
@media screen and (max-width: 400px){
    #right{
        display: none;
    }
    #left{
        margin: 0 auto;
        text-align: center;
        font-size: larger;
        width: 80%;
    }
    #left a{
        font-size: larger;
    }
}